<div class="list-group w-50 container pt-5">
  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant), class: "list-group-item list-group-item-action" do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= restaurant.name %></h5>
        <small><%= restaurant.category %></small>
      </div>
      <p class="mb-1">Address: <%= restaurant.address %></p>
      <small>Number: <%= restaurant.phone_number %></small>
    <% end %>
  <% end %>
</div>
